<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="7zip" />
   <package id="adobereader" />
   <package id="azure-cli" />
   <package id="citrix-workspace" />
   <package id="ditto" />
   <package id="docker-desktop" />
   <package id="dropbox" />
   <package id="keepass" />
   <package id="fiddler" />
   <package id="Firefox" />
   <package id="git" />
   <package id="insomnia-rest-api-client" />
   <package id="instchoco" />
   <package id="javaruntime" />
   <package id="jetbrainstoolbox" />
   <package id="kubernetes-cli" />
   <package id="kubernetes-helm" />
   <package id="make" />
   <package id="minikube" />
   <package id="postman" />
   <package id="powershell-core" />
   <package id="python2" />
   <package id="python3" />
   <package id="slack" />
   <package id="soapui" />
   <package id="vscode" />
   <package id="quicklook" />
   <package id="WhatsApp" />
   <package id="wireshark" />
   <package id="wsl" />
</packages>
