<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="7zip" />
   <package id="azure-cli" />
   <package id="citrix-workspace" />
   <package id="Cmder" />
   <package id="Cygwin" />
   <package id="ditto" />
   <package id="docker-desktop" />
   <package id="dotnetcore-sdk" version="3.1.100" allowMultipeVersions="true" />
   <package id="dotnetcore-sdk" version="2.2.402" allowMultipeVersions="true" />
   <package id="dropbox" />
   <package id="fiddler" />
   <package id="Firefox" />
   <package id="git" />
   <package id="googlechrome"/>
   <package id="insomnia-rest-api-client" />
   <package id="instchoco" />
   <package id="javaruntime" />
   <package id="jetbrainstoolbox" />
   <package id="kubernetes-cli" />
   <package id="kubernetes-helm" />
   <package id="make" />
   <package id="minikube" />
   <package id="openssh" />
   <package id="OpenSSL.Light" />
   <package id="postman" />
   <package id="powershell-core" />
   <package id="putty" />
   <package id="python2" />
   <package id="python3" />
   <package id="slack" />
   <package id="soapui" />
   <package id="sonarqube-scanner.portable" />
   <package id="sonarscanner-msbuild-netcoreapp2.0" />
   <package id="vscode" />
   <package id="quicklook" />
   <package id="WhatsApp" />
   <package id="wireshark" />
   <package id="wsl" />
   <package id="xming" />
   <package id="zap" />
</packages>
